<!DOCTYPE html>
<html lang="es">
    <head>
        <title>WINO Sign-In</title>
        <link href="/css/output.css" rel="stylesheet">
    </head>
    <body class="bg-gray-100">
        <div class="flex justify-center col-span-8 mx-10 my-10 bg-purple-600 rounded-lg p-10">
            <form class="space-y-12">
                <div class="border-b border-gray-950 pb-12">    
                    <h1 class="text-2xl font-semibold leading-4 text-white">Inicio de sesion</h1>        
                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6"> 
                        <div class="sm:col-span-6">
                            <label for="username" class="block text-sm font-medium leading-2 text-white">Username</label>
                            <div class="mt-2">
                                <input id="username" name="username" type="username" class="w-full rounded-full px-3 py-1.5 text-gray-900 ring-2 ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                        <div class="sm:col-span-6">
                            <label for="email" class="block text-sm font-medium leading-2 text-white">Contraseña</label>
                            <div class="flex justify-center mt-2">
                                <input id="password" name="password" type="password" class="w-full rounded-full px-3 py-1.5 text-gray-900 ring-2 ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                    </div>
                    <div class="mt-6 flex justify-center items-center justify-end gap-x-6">
                        <button type="submit" class="rounded-full bg-gray-950 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-white hover:text-gray-900 mt-5">Continuar</button>
                    </div>
                    <p class="text-white font-semibold col-span-3 flex justify-center mt-5">Al continuar, aceptas los terminos y condiciones de Work Is Never Over.</p>
                </div>
                <div class="flex justify-center space-x-2">
                    <p class="text-white font-semibold col-span-3 leading-6">¿Nuevo en Work Is Never Over?</p> 
                    <a class="font-semibold text-blue-400" href="/adminRegistro.html">Crea tu cuenta en WINO</a>
                </div>
            </form>
        </div>
        <footer class="flex-grow bg-gray-950 py-10 mt-10">
            <div class="container mx-auto flex justify-center space-x-10">
                <a class="font-semibold text-blue-400" href="#">Condiciones de uso</a>
                <a class="font-semibold text-blue-400" href="#">Privacidad</a>
                <a class="font-semibold text-blue-400" href="#">Ayuda</a>
            </div>
            <div class="flex justify-center mt-5">
                <p class="text-white font-semibold col-span-3 leading-6">© 2024, WINO.com, Inc. or its affiliates</p>
            </div>
        </footer>
    </body>
</html>