<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bienvenido</title>
    <link href="/css/output.css" rel="stylesheet">
</head>
<body>
    <!-- Barra de navegación lateral -->
    <nav id="sidebar" class="bg-Demicolor2 fixed h-full left-0 flex flex-col items-center justify-between py-4 px-2 text-white">
        <!-- Logo -->
        <a href="#home" class="mb-4">
            <img onclick="window.location.href='index.html'" src="../src/logo Chido.png" alt="Logo" class="h-12 w-15">
        </a>
        <!-- Enlaces de navegación -->
        <div class="flex flex-col space-y-4">
            <a id="main-link" class="flex items-center text-gray-300 hover:bg-gray-700 hover:text-white px-4 py-2 rounded-lg">
                <i class="fa-solid fa-house"></i>
            </a>
            <a id="rutinas" class="flex items-center text-gray-300 hover:bg-gray-700 hover:text-white px-4 py-2 rounded-lg">
                <i class="fa-solid fa-dumbbell"></i>
            </a>
            <div class="relative">
                <button id="recetas" class="flex items-center text-gray-300 hover:bg-gray-700 hover:text-white px-4 py-2 rounded-lg">
                    <i class="fa-solid fa-apple-whole"></i>
                </button>
            </div>
        </div>
        <!-- Botones adicionales a la izquierda del perfil -->
        <div class="flex flex-col items-center space-y-2">
            <a id="configuracion" class="flex items-center text-gray-300 hover:bg-gray-700 hover:text-white px-4 py-2 rounded-lg">
                <i class="fa-solid fa-gear"></i>
            </a>
            <a id="chats" class="flex items-center text-gray-300 hover:bg-gray-700 hover:text-white px-4 py-2 rounded-lg">
                <i class="fas fa-address-book"></i>
            </a>
            <a id="perfil">
                <button class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
                    <img class="h-8 w-8 rounded-full" src="../src/perfil.webp" alt="Foto de perfil">
                </button>
            </a>
        </div>
    </nav>

    <div class="container mx-auto p-4 py-6 max-w-7xl flex flex-col gap-2">
        <div class="container mx-auto p-4 max-w-7xl flex flex-col gap-4">
            <div class="flex justify-center">
                <input type="text" id="filtro" class="px-3 py-1.5 text-gray-900 ring-1 ring-gray-900 focus:ring-gray-900 sm:text-sm sm:leading-6" placeholder="Buscar gimnasios...">
                <button onclick="filtrarGimnasios()" class="px-4">Buscar</button>
            </div>
            <div id="gimnasios-container" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mx-10 my-6 bg-purple-600 rounded-lg p-10"></div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Extrae el username de la URL
            const urlParams = new URLSearchParams(window.location.search);
            const username = urlParams.get('usuario');

            fetch('/gimnasios')
                .then(response => response.json())
                .then(data => {
                    console.log('Datos de gimnasios:', data); // Mostrar los datos en la consola
                    const container = document.getElementById('gimnasios-container');
                    data.forEach(gimnasio => {
                        const card = document.createElement('div');
                        card.className = 'bg-white rounded-lg shadow-lg p-6 mb-6 flex flex-col items-center';
                        card.innerHTML = `
                            <img src="uploads/${gimnasio.imagen}" alt="${gimnasio.Nombre}" class="object-cover rounded-t-lg w-full h-48">
                            <div class="p-4">
                                <h2 class="text-xl font-semibold text-gray-800">${gimnasio.Nombre}</h2>
                                <p class="text-gray-600">${gimnasio.Direccion}</p>
                                <button type="button" onclick="registrarCliente('${gimnasio.codigo_gym}', '${username}')" class="rounded-full bg-gray-950 px-3 py-2 text-sm font-semibold text-white shadow-lg mt-5">Registrarme</button>
                            </div>
                        `;
                        container.appendChild(card);
                    });
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        });

        function registrarCliente(codigoGym, username) {
            fetch('/registrarCliente', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ codigo_gym: codigoGym, usuario: username })
            })
            .then(response => {
                if (response.ok) {
                    return response.json(); // Asegúrate de procesar la respuesta JSON
                } else {
                    throw new Error('Error en la respuesta del servidor');
                }
            })
            .then(data => {
                if (data.message) {
                    alert(data.message);
                    // Redirigir al usuario después del registro
                    window.location.href = '/user.html';
                } else if (data.error) {
                    alert(data.error);
                }
            })
            .catch(error => {
                console.error('Error en el registro:', error);
                alert('Hubo un error al registrarse.');
            });
        }

        window.onload = function() {    
            const urlParams = new URLSearchParams(window.location.search);
            const hasGymCode = urlParams.get('hasGymCode');
            const username = urlParams.get('usuario');
            const codigo = urlParams.get('codigo_gym');
            
            // Configurar los enlaces de navegación
            const mainLink = document.getElementById('main-link');
            if (codigo) {
                mainLink.href = `user.html?usuario=${username}&hasGymCode=${hasGymCode}&codigo_gym=${codigo}`;
            } else (codigo == null); {
                mainLink.href = `welcome.html?usuario=${username}&hasGymCode=${hasGymCode}&codigo_gym=${codigo}`;
            }
    
            // Configuración de eventos para los botones de navegación
            document.getElementById('rutinas').addEventListener('click', function() {
                window.location.href = `training.html?usuario=${username}&hasGymCode=${hasGymCode}&codigo_gym=${codigo}`;
            });
    
            document.getElementById('recetas').addEventListener('click', function() {
                window.location.href = `recetas.html?usuario=${username}&hasGymCode=${hasGymCode}&codigo_gym=${codigo}`;
            });
    
            document.getElementById('configuracion').addEventListener('click', function() {
                window.location.href = `configuracion.html?usuario=${username}&hasGymCode=${hasGymCode}&codigo_gym=${codigo}`;
            });
    
            document.getElementById('chats').addEventListener('click', function() {
                window.location.href = `chats.html?usuario=${username}&hasGymCode=${hasGymCode}&codigo_gym=${codigo}`;
            });
    
            document.getElementById('perfil').addEventListener('click', function() {
                window.location.href = `perfil.html?usuario=${username}&hasGymCode=${hasGymCode}&codigo_gym=${codigo}`;
            });
        };
    </script>      
</body>
</html>
