<!DOCTYPE html>
<html lang="es">
    <head>
        <title>WINO Register</title>
        <link href="/css/output.css" rel="stylesheet">
    </head>
    <body class="bg-gray-100">
        <a href="#home" class="mx-2">
            <img onclick="window.location.href='index.html'" src="../src/logo Chido.png" alt="Logo" class="h-12 w-15">
        </a>
        <div class="mx-10 my-4 place-content-center bg-purple-600 rounded-lg p-10">
            <form class="space-y-12" action="/api/clientes" method="post">
                <div class="border-b border-gray-950 pb-12">
                    <h1 class="text-2xl font-semibold leading-4 text-white">Crea tu cuenta</h1>
                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        <h2 class="col-span-6 font-semibold text-white">Datos Personales</h2>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="Nombre" class="block text-sm font-medium leading-2 text-white">Nombre(s)</label>
                            <div class="mt-2">
                                <input type="text" name="Nombre" id="Nombre" autocomplete="given-name" 
                                class="w-full rounded-full px-3 py-1.5 text-gray-900 ring-2 ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="Apellido" class="block text-sm font-medium leading-2 text-white">Apellido(s)</label>
                            <div class="mt-2">
                                <input type="text" name="Apellido" id="Apellido" autocomplete="family-name" 
                                class="w-full rounded-full px-3 py-1.5 text-gray-900 ring-2 ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="FechaNacimiento" class="block text-sm font-medium leading-2 text-white">Fecha de nacimiento</label>
                            <div class="mt-2">
                                <input type="date" name="FechaNacimiento" id="FechaNacimiento" autocomplete="bday" 
                                class="w-full rounded-full px-3 py-1.5 text-gray-900 ring-2 ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>          
                        <div class="col-span-6 sm:col-span-3">
                            <label for="Contacto" class="block text-sm font-medium leading-2 text-white">Contacto</label>
                            <div class="mt-2">
                                <input type="email" name="Contacto" id="Contacto" autocomplete="email" 
                                class="w-full rounded-full px-3 py-1.5 text-gray-900 ring-2 ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-b border-gray-950 pb-12">
                    <h2 class="col-span-6 font-semibold text-white">Datos de la Cuenta</h2>      
                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        <div class="sm:col-span-3">
                            <label for="NombreUsuario" class="block text-sm font-medium leading-2 text-white">Username</label>
                            <div class="mt-2">
                                <input type="username" name="NombreUsuario" id="NombreUsuario"  
                                class="w-full rounded-full px-3 py-1.5 text-gray-900 ring-2 ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                        <div class="sm:col-span-3">
                            <label for="password" class="block text-sm font-medium leading-2 text-white">Contraseña</label>
                            <div class="mt-2">
                                <input type="password" name="password" id="password" 
                                class="w-full rounded-full px-3 py-1.5 text-gray-900 ring-2 ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                    </div>                    
                    <div class="mt-6 flex justify-center items-center justify-end gap-x-6">
                        <button type="submit" value="registrar"
                        class="rounded-full bg-gray-950 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-white hover:text-gray-900 mt-5">Continuar</button>
                    </div>
                    <p class="text-white font-semibold col-span-3 flex justify-center mt-5">Al crear una cuenta en Work Is Never Over acepta los terminos y condiciones de la página.</p>
                </div>
                <div class="flex justify-center space-x-2">
                    <p class="text-white font-semibold col-span-3 leading-6">¿Ya tiene una cuenta?</p> 
                    <a class="font-semibold text-blue-400" href="miembroInicio.html">Iniciar sesión</a>
                </div>
            </form>
        </div>
        <footer class="flex-grow bg-gray-950 py-10 mt-10">
            <div class="container mx-auto flex justify-center space-x-10">
                <a class="font-semibold text-blue-400" href="#">Condiciones de uso</a>
                <a class="font-semibold text-blue-400" href="#">Privacidad</a>
                <a class="font-semibold text-blue-400" href="#">Ayuda</a>
            </div>
            <div class="flex justify-center mt-5">
                <p class="text-white font-semibold col-span-3 leading-6">© 2024, WINO.com, Inc. or its affiliates</p>
            </div>
        </footer>
    </body>
</html>