<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gimnasio</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="barra-color"></div>
        <img src="../src/logo Chido.png" alt="Logo" class="logo">
    </header>
    <div class="contenedor-principal">
        <nav class="barra-navegacion">
            <ul>
                <li><a id="main-link">Inicio</a></li>
                <li><a id="perfil">Mi Cuenta</a></li>
                <li><a id="chats">Contactanos Por Chat</a></li>
                <li><a id="servicios">Servicios</a></li>
                <li><a id="configuracion">Configuracion</a></li>
                <li><a id="permisos">Privacidad y Permisos</a></li>
                <li><a id="terminos">Términos y Condiciones</a></li>

            </ul>
        </nav>
        <main>
            <div class="mi-cuenta">
                <h2>MI CUENTA</h2>
                <div id="clientes-container" class="clientes-container">
                    <!-- Aquí se mostrarán los datos de los clientes -->
                </div>
            </div>
            <!-- Contenido principal -->
        </main>
    </div>
    <script>
        window.onload = function() {    
            const urlParams = new URLSearchParams(window.location.search);
            const hasGymCode = urlParams.get('hasGymCode');
            const username = urlParams.get('usuario');
            const codigo = urlParams.get('codigo_gym');
            
            // Configurar los enlaces de navegación
            const mainLink = document.getElementById('main-link');
            if (codigo && codigo !== "null") {
                mainLink.href = `user.html?usuario=${username}&hasGymCode=${hasGymCode}&codigo_gym=${codigo}`;
            } else {
                mainLink.href = `welcome.html?usuario=${username}&hasGymCode=${hasGymCode}&codigo_gym=${codigo}`;
            }

            // Configuración de eventos para los botones de navegación
            document.getElementById('perfil').addEventListener('click', function() {
                window.location.href = `perfil.html?usuario=${username}&hasGymCode=${hasGymCode}&codigo_gym=${codigo}`;
            });

            document.getElementById('chats').addEventListener('click', function() {
                window.location.href = `chats.html?usuario=${username}&hasGymCode=${hasGymCode}&codigo_gym=${codigo}`;
            });

            document.getElementById('servicios').addEventListener('click', function() {
                window.location.href = `servicios.html?usuario=${username}&hasGymCode=${hasGymCode}&codigo_gym=${codigo}`;
            });

            document.getElementById('configuracion').addEventListener('click', function() {
                window.location.href = `configuracion.html?usuario=${username}&hasGymCode=${hasGymCode}&codigo_gym=${codigo}`;
            });

            document.getElementById('permisos').addEventListener('click', function() {
                window.location.href = `permisos.html?usuario=${username}&hasGymCode=${hasGymCode}&codigo_gym=${codigo}`;
            });

            document.getElementById('terminos').addEventListener('click', function() {
                window.location.href = `terminos.html?usuario=${username}&hasGymCode=${hasGymCode}&codigo_gym=${codigo}`;
            });

            // Fetch datos de clientes y actualizar el DOM
            if (username) {
                fetch(`/clientes?username=${username}`)
                    .then(response => {
                        if (!response.ok) {
                            return response.json().then(errorData => {
                                throw new Error(`Error: ${errorData.error}`);
                            });
                        }
                        return response.json();
                    })
                    .then(clientes => {
                        const clientesContainer = document.getElementById('clientes-container');
                        clientes.forEach(cliente => {
                            const clienteElement = document.createElement('div');
                            clienteElement.classList.add('section');
                            clienteElement.innerHTML = `
                                <div class="section-title">Cliente ID: ${cliente.id_cliente}</div>
                                    <div class="section-content">
                                        <p><span class="label">Nombre:</span> ${cliente.nombre}</p>
                                        <p><span class="label">Apellido:</span> ${cliente.apellido}</p>
                                        <p><span class="label">Correo:</span> ${cliente.contacto}</p>
                                        <p><span class="label">Dirección:</span> ${cliente.username}</p>
                                        <div class="button-container">
                                            <button onclick="editarCliente(${cliente.username})" class="edit-button">Editar</button>
                                            <button onclick="eliminarCliente(${cliente.username})" class="delete-button">Eliminar</button>
                                        </div>
                                    </div>`;
                            clientesContainer.appendChild(clienteElement);
                        });
                    })
                    .catch(error => {
                        console.error('Error fetching clientes:', error);
                        // Puedes mostrar el error en la página para que el usuario sepa que hubo un problema
                        const errorContainer = document.getElementById('error-container');
                        if (errorContainer) {
                            errorContainer.textContent = error.message;
                        } else {
                            alert(error.message);
                        }
                    });
            } else {
                console.error('Username no proporcionado en la URL');
            }
            };

            function editarCliente(username) {
                // Redirigir a una página de edición con el ID del cliente en la URL
                window.location.href = `edit_cliente.html?usuario=${username}&hasGymCode=${hasGymCode}&codigo_gym=${codigo}`;
            }

            function eliminarCliente(id_cliente) {
                fetch(`/clientes/${id_cliente}`, {
                    method: 'DELETE'
                })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    // Recargar la lista de clientes después de eliminar
                    window.location.reload();
                })
                .catch(error => console.error('Error eliminando cliente:', error));
            }
    </script>
</body>
</html>
