<!DOCTYPE html>
<html lang="es">
<head>
    <title>WINO Register</title>
    <link href="output.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">
    <div class="mx-10 my-10 flex flex-col bg-purple-600 rounded-lg p-10">
        <form class="flex flex-col flex-grow space-y-12">
            <h1 class="text-2xl font-semibold leading-4 text-white text-center">¿Ya registró su gimnasio con nosotros?</h1>
            <div class="flex-grow"></div> <!-- Espacio flexible para empujar los botones hacia abajo -->
            <div class="flex justify-center space-x-6 mt-6">
                <a href="adminRegistro.html" 
                class="rounded-full bg-gray-950 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-white hover:text-gray-900 mt-5">
                ¡Sí!, ya estamos registrados</a>
                <a href="gymRegistro.html" 
                class="rounded-full bg-gray-950 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-white hover:text-gray-900 mt-5">
                Aún no estamos registrados</a>         
            </div>
            <div class="flex justify-center space-x-2">
                <p class="text-white font-semibold col-span-3 leading-6">¿Ya tiene una cuenta?</p> 
                <a class="font-semibold text-blue-400" href="adminInicio.html">Iniciar sesión</a>
            </div>
        </form>
    </div>

    <footer class="flex-grow bg-gray-950 py-10 mt-10">
        <div class="container mx-auto flex justify-center space-x-10">
            <a class="font-semibold text-blue-400" href="#">Condiciones de uso</a>
            <a class="font-semibold text-blue-400" href="#">Privacidad</a>
            <a class="font-semibold text-blue-400" href="#">Ayuda</a>
        </div>
        <div class="flex justify-center mt-5">
            <p class="text-white font-semibold col-span-3 leading-6">© 2024, WINO.com, Inc. or its affiliates</p>
        </div>
    </footer>
</body>
</html>
